<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Assignment.search.TestClass"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="CHROME">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Assignment.search.TestClass"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="IE browser">
  <parameter name="browser" value="InternetExplorer"></parameter>
    <classes>
      <class name="Assignment.search.TestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
